/* Base from stuff from Pinegrow
Created 20221209 */
body {
    font-size: .875rem;
    max-width: 960px;
    margin: auto;
    background-color: black;
    bottom: 0;
    min-height: calc(100vh - 48px - 19px);
}

button {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

footer {
    background-color: white;
}

main {
    position: fi;
    background-color: white;
    top: 48px;
    bottom: 0;
    min-height: calc(100vh - 48px - 19px);
}

table, th, td, tr {
	border: 1px solid white;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/* table stuff
.mytable {
  max-width: 500px;
} */
/* th,td {
border : 2px solid white;
} */
/* Latex */
/* * Sidebar */
.cheater {
    z-index: 100;
}

.sidebar {
    position: fixed;
    top: 0;
    max-width: 160px;

    /* rtl:raw:
  right: 0; */
    bottom: 0;

    /* rtl:remove */
    z-index: 200;

    /* Behind the navbar */
    padding: 48px 0 0;

    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    height: calc(100vh - 1px);
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  /* width:1% if you want justified table */
  vertical-align: middle;
}

.table-cell2 {
  display: table-cell;
  /* width:1% if you want justified table */
  vertical-align: middle;
}

@media (max-width: 767.98px) {
	@media (max-width: 617.98px)  {
		.table {
    			display: block				
		}
  		.table-cell2 {
	  		margin: 20px;
	  		margin-left: auto;
		    	margin-right: auto;
		    	display: block;
		    	width: 175px
  		}
  		.table-cell{
	    		display: block;
	  		margin-left: auto;
		    	margin-right: auto;
		    	width: 401px
  		}
  		@media (max-width: 401px)  {
  			.table-cell {width: auto}
  		}
  	}
}

.sidebar-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;

    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/* * Navbar */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
